.main {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  min-height: 100vh;
  background-image: url('../../public/darth-vader.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0px -25px 90px 90px #000;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.message {
  max-width: 400px;
}


/* Mobile */
@media (max-width: 700px) {
  
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}



.button {
	background: transparent;
	height: fit-content;
	color: inherit;
	outline: none;
	appearance: none;
	font-size: 1.5rem;
	font-family: inherit;
	border: 1px solid #FFF;
	border-radius:  5px;
	cursor: pointer;
	padding: 15px;
	position: relative;
}

.button:hover {
	text-decoration: underline;
	background-color: rgb(34,255,89);
	color: #000;
	border: 1px solid #000;


	transition-property: background-color,color, border;

    transition-duration: .15s;

}