.main {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-image: url('../../../public/darth-vader.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0px -25px 90px 90px #000;
}

.nav {
  min-width: 100vw;
  display: flex;
  justify-content: space-evenly;
  background-color: #0000008f;
}

.links {
  display: flex;
  padding: 2rem;
}

.form {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio_button {
display: flex;
flex-wrap: wrap;
background: transparent;
color: #FFF;
border: none;
justify-content: center;
align-items: center;

  font-family: inherit;
}

.radio_button:focus {
  outline: none
}

.button, .card {
	background: transparent;
	height: fit-content;
	color: inherit;
	outline: none;
	appearance: none;
	font-size: 1rem;
	font-family: inherit;
	border: 1px solid #FFF;
	border-radius:  5px;
	cursor: pointer;
	padding: 1rem;
  margin: 2px;
	position: relative;
  opacity: 1;
}

.card:hover,
.button:hover,
.button:visited {
	text-decoration: underline;
	background-color: rgb(34,255,89);
	color: #000;
	border: 1px solid #000;
	transition-property: background-color,color, border;
  transition-duration: .15s;
}

.input {
  height: 2rem;
  outline: none;
  border-radius: 5px;
  width: 35vw;
  padding: 1rem

}

/* Mobile */
@media (max-width: 700px) {
  
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}


.card_container {
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
  flex-wrap: wrap;
  font-size: 1.5rem;
  align-items: space-evenly;
}

.card {
  margin: 1rem;
  cursor: pointer;
  position: relative;
  display: inline-block;
  border: none;
  padding: 1rem;
  font-size: 1.5rem;
}

.card:hover {
  border: none
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.loading {
  animation: rotation 5s infinite linear;
}

.dialog {
  margin: auto;
  min-width: 40vw;
  min-height: 40vh;
  position: relative;
  /** Adding flex to dialog opens the dialog */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  font-size: 1rem;
  background: rgba(255,255,255,0.5);
  font-family: inherit;
  border-radius: 0px;
  padding: 10px;
  background-color: #000;
  color: #FFF;
  border-radius: 1rem;
}

.dialog::backdrop{
  background-color: rgba(0, 0, 0, 0.3);
}