.main {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-image: url('../../../public/darth-vader.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0px -25px 90px 90px #000;


}

.nav {
  min-width: 100vw;
  display: flex;
  justify-content: space-evenly;
  background-color: #0000008f;
}

.links {
  display: flex;
  padding: 2rem;
}

.form {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio_button {
display: flex;
background: transparent;
color: #FFF;
border: none;

}
.radio_button:focus {
  outline: none
}

.button {
	background: transparent;
	height: fit-content;
	color: inherit;
	outline: none;
	appearance: none;
	font-size: 1rem;
	font-family: inherit;
	border: 1px solid #FFF;
	border-radius:  5px;
	cursor: pointer;
	padding: 1rem;
  margin: 2px;
	position: relative;
  opacity: 1;
}

.button:hover,
.button:visited {
	text-decoration: underline;
	background-color: rgb(34,255,89);
	color: #000;
	border: 1px solid #000;
	transition-property: background-color,color, border;
  transition-duration: .15s;
}

.input {
  height: 2rem;
  outline: none;
  border-radius: 5px;
  width: 35vw;
  padding: 1rem

}

/* Mobile */
@media (max-width: 700px) {
  
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}


